

.title {
  font-family: KyivTypeSans;
  font-weight: 400;
  @include adaptiveValue('font-size', 70, 50, 1);
  @include adaptiveValue('line-height', 84, 60, 1);
}

.page {
  flex: 1 1 auto;
  overflow-x: clip;



  &__hello {

  }

  &__about {

  }

  &__gallery {

  }

  &__schedule {
  }

  &__blog {
    //overflow-y: visible;

    //overflow-x: clip;
    //display: flow-root
    //padding-top: ;
    //overflow-x: hidden;
    //overflow-x: hidden;
  }

  &__quote {
  }
}
